
* {font-family: 'Courier New', Courier, monospace;}


.flex-containerh {
    display: flex;  
    flex-direction: row;
    
    background-color: rgb(95, 239, 131);
}

.flex-containerh > div {  
    color: white;
    background-color:rgb(232, 168, 146);
    margin: 20px;
    padding: 40px;
    font-size: 30px;
}


.container {
    display: grid;

    
    grid-template: 200px 300px auto / 30% auto 30%; 

    
    grid-template-areas: "header header header" 
                         "izq contenido der" 
                         "pie pie pie";

    
    gap: 2%;

    
}



.principal {grid-area: principal; background-color: crimson;}
.header    { grid-area: header;    background-color: rgb(95, 239, 131);  }
.izq       { grid-area: izq;       background-color: coral;  }
.der       { grid-area: der;       background-color: coral;}
.contenido { grid-area: contenido; background-color: rgb(241, 169, 133);}
.pie       { grid-area: pie;       background-color: rgb(0, 247, 255);  }



.item {
    padding: 10px;
    color: darkgreen;
    border-radius: 10px;
}



img {
    border-radius: 30px;
    width: 100%;
    max-width:400px;
  }



@media only screen and (max-width: 800px) {
    .container {
        /* Uso un atajo para definir 4 filas / 2 columna */
        grid-template: 100px auto auto 60px / 30% auto; 

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header header" "izq contenido" "der der" "pie pie";
    }
}



@media only screen and (max-width: 600px) {
    .container {
        /* Uso un atajo para definir 6 filas / 1 columna */
        grid-template: 100px auto auto auto 60px / 100%; 

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header" "izq" "contenido" "der" "pie";
    }
}

.grid_container{
    display: grid;
    grid-template-columns: auto auto auto 
    

}


.imagen {width: 90%;
    padding:5px

}

img:hover {
    width:95%;
    padding: 5px
}

@media only screen and (max-width: 500px){
    .grid_container{
        display: grid;
        grid-template-columns: auto auto 

    }
}